:host {
  --color-primary: 0, 57, 166;
  --color-secundary: 51, 102, 153;
  --color-success: 5, 190, 80;
  --color-warning: 253, 173, 0;
  --color-failed: 220, 53, 69;
  --color-info: 29, 184, 255;
  --color-neutro: 255, 255, 255;
  --color-dark: 51, 51, 51;
  // DISABLED
  // --color-disabled: 226, 223, 223;
  --color-disabled-bg:204, 204, 204;
  --color-disabled: 153, 153, 153;
}
